@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.none {
    display: none;
}

.overflowAuto {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
}

.bg-cover {
    background-image: url('./img/black_image.png'), url('https://demo.datengdong.com/uploads/original/gallery/1949d9111354e8962623050b26440179f5caddd0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-page1 {
    background-image: url('./img/black_image.png'), url('https://demo.datengdong.com/uploads/original/gallery/1949d9111354e8962623050b26440179f5caddd0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-page2 {
    background-color: #fff;
    height: 280vh;
}

.bg-page3 {
    background-image: url('./img/orange-image.png'), url('https://demo.datengdong.com/uploads/original/gallery/b764db47f4737e605f7ab557461fb11a0b8834b3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
}

.bg-page4 {
    background-color: #fff;
    height: 300vh;
}

.bg-page5{
    background-image: url('./img/orange-image.png'), url('https://demo.datengdong.com/uploads/original/gallery/f92dc892d7faba8c2253a2ccfca156ba6ad908ad.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}

.bg-page6 {
    background-color: #fff;
    height: 160vh;
}

.fontPasangan {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.fontInformasi {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

.fontGroom {
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    color: #F44336;
}

.fontPengantin {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    color: #FF8A65;
}

.fontPengantin2 {
    font-family: 'Joan', serif;
    font-size: 30px;
}

.fontAkad {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

.fontLove {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}

/* content fixed */

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }