@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');

/* Mobile  400px*/
@media screen and (max-width: 600px) {
    .bg-pagecover{
        background-image: url('https://cdn-uploads.our-wedding.link/3555e600-f65f-11eb-ac04-7b83682bd801.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .bg-page2{
        background-color: #ffffe6;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;

    }

    .bg-page4{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }

    .bg-page5{
        background-color: #ffffe6;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    
    

    .bg-page6{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .bg-page7{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .cardNavigation{
        margin: 0 5.5em;
    }    
}

 /* Desktop HDPi */
@media screen and (min-width: 1440px) {
    .bg-pagecover{
        background-image: url('https://cdn-uploads.our-wedding.link/3555e600-f65f-11eb-ac04-7b83682bd801.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .bg-page2{
        background-color: #ffffe6;
        height: 180vh;
    }

    .bg-page3{
        background-image: url('./img/bg-img.png'), url('https://images.ctfassets.net/q40z6pfqje6o/3LtK6YN6dXZlCncHHdLFH3/224ff250008085fab0134a9a92eb182c/5698719-ai.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
        margin-top: -5vh;
    }

    .bg-page4{
        background-image:  url('https://images.ctfassets.net/q40z6pfqje6o/U9PTJJXcez5lw0NVL16H6/51bb5917e53b18242e62f2e14017b62e/New_Project__5_.png'), url('./img/bg-img2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
        margin-top: -5vh;
    }

    .bg-page5{
        background-color: #ffffe6;
        height: 120vh;
    }

    .bg-page6{
        background-image:  url('https://images.ctfassets.net/q40z6pfqje6o/01QcYN53sWodwqR7gvquz5/f2901a8caa319c2919353d49c86d5770/New_Project__9_.png'), url('./img/bg-img.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 150vh;
    }
    
    .bg-page7{
        background-image:  url('https://images.ctfassets.net/q40z6pfqje6o/2rvAyhhIJ74iEzdioDn7zI/a2b461f702e9cb403fce85bb90aed3b7/Polygon-1s-1141px.svg'), url('./img/bg-img.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 160vh;
    }
    
    .overflowFixed{
        position: fixed;
      }
        .overflowAuto2 {
            width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    .cardNavigation{
        margin-left: 10vh;
        margin-right: 2vh;
    }
    
    .navigation{
        margin-top: 10vh;
        margin-left: 80px;
    }

    .widthImg{
        width: 900px;
    }
}

/* Desktop HD*/
@media screen and (min-width: 1280px) {
    .bg-pagecover{
        background-image: url('https://cdn-uploads.our-wedding.link/3555e600-f65f-11eb-ac04-7b83682bd801.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .bg-page2{
        background-color: #ffffe6;
        height: 230vh;
    }

    .bg-page3{
        background-image: url('./img/bg-img.png'), url('https://images.ctfassets.net/q40z6pfqje6o/3LtK6YN6dXZlCncHHdLFH3/224ff250008085fab0134a9a92eb182c/5698719-ai.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 30vh;
        margin-top: -5vh;
    }

    .bg-page4{
        background-image:  url('https://images.ctfassets.net/q40z6pfqje6o/U9PTJJXcez5lw0NVL16H6/51bb5917e53b18242e62f2e14017b62e/New_Project__5_.png'), url('./img/bg-img2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        margin-top: -5vh;
    }

    .bg-page5{
        background-color: #ffffe6;
        height: 160vh;
    }

    .bg-page6{
        background-image:  url('https://images.ctfassets.net/q40z6pfqje6o/01QcYN53sWodwqR7gvquz5/f2901a8caa319c2919353d49c86d5770/New_Project__9_.png'), url('./img/bg-img.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 180vh;
    }
    
    .bg-page7{
        background-image:  url('https://images.ctfassets.net/q40z6pfqje6o/2rvAyhhIJ74iEzdioDn7zI/a2b461f702e9cb403fce85bb90aed3b7/Polygon-1s-1141px.svg'), url('./img/bg-img.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 160vh;
    }

    .overflowFixed{
        position: fixed;
      }
        .overflowAuto2 {
            width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5vh;
    }

    .cardNavigation{
        margin-left: 92%;
        margin-right: 2vh;
    }
    
    .navigation{
        margin-top: 10vh;
        margin-left: 21vh;
    }

    .widthImg{
        width: 61%;
    }
    .v-carousel{
        max-width: 100%;
    }

    .carouselImage{
        margin-left: 5vh;
        max-width: 50px;
    }
} */
    

.none{
    display: none;
}

.overflowAuto {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    width: 100%;
}


.bg-page1{
    background-color: #5a7178;
    height: 50vh;
}








.undangan-btn.v-btn--outlined{
    border: thin solif black;
}

.lokasi-btn.v-btn--outlined{
    border: thin solif black;
}

.fontPasangan{
    font-family: 'Corinthia', serif;
    font-size: 50px;
}



/* content fixed */

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .navbar1 {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 1;
}