@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

/* Mobile */
@media screen and (max-width: 500px){
    .overflowAuto {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 20vh;
        width: 100%;
      }

    .kupu{
        margin-top: -50vh;
    margin-left: -10vh;
    
}
.kupu2{
    margin-bottom: -30vh;
}

.kupu3{
    margin-top: -50vh;
}

.titlePage2{
    font-family: 'Pinyon Script', cursive;
    font-size: 35px;
    }

    .titlePage3{
    font-family: 'Pinyon Script', cursive;
    font-size: 40px;
    }

    .bg-page6{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
}

.bg-page7{
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-page8{
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-page12{
    background-image: url('/tema_undangan/tema_1/img/page1.png');
    height: 160vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-page14{
    background-image: url('/tema_undangan/tema_1/img/page1.png');
    height: 60vh;
    margin-top: -20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

iframe{
    width: 100%;
    height: 200%;
}

.hr4{
    margin: auto;
}

.image-modif{
    height: 20vh;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

.logo-web{
    margin-top: 20vh;
    max-width: 100px;
}
    
}


.bg-page1{
    background-image: url('/tema_undangan/tema_1/img/page1.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-page2{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-page4{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-page5{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



.bg-page13{
    background-image: url('/tema_undangan/tema_1/img/page6.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.text-color{
    color: #8D6E63;
}

.text-color2{
    color: #3E2723;
}

.text-color3{
    color: #BCAAA4;
}


.kupu4{
    margin-top: -90vh;
    margin-left: 100vh;
}


.titlePage7{
    font-family: 'Pinyon Script', cursive;
    font-size: 30px;
    color: #8D6E63;
}

.titlePage8{
    font-family: 'Pinyon Script', cursive;
    font-size: 50px;
    color: #8D6E63;
}

.fontName{
    font-family: 'Pinyon Script', cursive;
    font-size: 50px;
    color: #5D4037;
}



.hr1{
    border: 2px solid #8D6E63;
    width: 10%;
    margin: auto;
}

.hr2{
    border: 1px solid #ffffff;
    width: 40%;
    margin: auto;
}

.hr3{
    border-left: 1px solid #ffffff;
    height: 5vh;
}


.verticalline{
    border-left: 1px solid #ffffff;
}

.cardAkad{
    background-image: url('./img/black_image.png');
}


    /* content fixed */

    .navbar {
        overflow: hidden;
        background-color: transparent;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 1;
      }