<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Tema 8</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container fluid class="fill-height" v-if="loading">
                    <v-row align="center" justify="center">
                        <v-progress-circular indeterminate color="primary"></v-progress-circular>
                    </v-row>
                </v-container>
                <div v-else>
                <div v-if="openInvitation">
                    <div class="navbar">
                    <div class="mb-5" justify="center" align="center">
                        <v-dialog v-model="dialog" transition="dialog-bottom-transition" width="500">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn color="white" class="px-8" rounded v-bind="attrs" v-on="on">
                                    <v-icon>mdi-gift-outline</v-icon> Kirim Hadiah
                                </v-btn>
                            </template>

                            <v-card>
                                                                        <v-card-text>
                                            <div class="d-flex">
                                                <p class="mt-5 title">Kirim Hadiah</p>
                                                              <v-btn icon large color="grey darken-1" class="ml-auto mt-5" @click="dialog = false">
                            <v-icon>mdi-close</v-icon>
                          </v-btn>
                                            </div>
                                  
                                        </v-card-text>

                                <v-divider></v-divider>

                                <v-card-text class="justify-center">
                                    <div align="center">
                                        <v-icon x-large color="black">mdi-heart-outline</v-icon>
                                        <p class="font-weight-medium">Kirim Hadiah</p>
                                        <p class="font-weight-light">Untuk {{ dataApi.wedding.nama_panggilan_pria }} & {{ dataApi.wedding.nama_panggilan_wanita }}</p>
                                    </div>
                                </v-card-text>
                                <v-card-text>
                                      <v-row>
                                                <v-col>
                                                    <p class="font-weight-bold">BCA</p>
                                                    <p class="mt-n3">{{ nomorRekening }}</p>
                                                    <p class="mt-n3">a/n {{ namaRekening }}</p>
                                                </v-col>
                                                <v-col>
                                                    <div align="end">
                                                        <v-img max-width="100"
                                                            src="https://demo.datengdong.com/images/payment/bca.jpg">
                                                        </v-img>
                                                    </div>
                                                </v-col>
                                            </v-row>
                                            <v-divider></v-divider><v-row>
                                                <v-col>
                                                    <p class="font-weight-bold">Mandiri</p>
                                                    <p class="mt-n3">{{ nomorRekening1 }}</p>
                                                    <p class="mt-n3">a/n {{ namaRekening1 }}</p>
                                                </v-col>
                                                <v-col>
                                                    <div align="end">
                                                        <v-img max-width="100"
                                                            src="https://demo.datengdong.com/images/payment/mandiri.jpg">
                                                        </v-img>
                                                    </div>
                                                </v-col>
                                            </v-row>
                                    <v-divider></v-divider>
                                    <v-img src="https://demo.datengdong.com/uploads/original/qris/iao8blunwz.png"></v-img>
                                    <div class="text-center">OVO</div>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </div>
                    <v-bottom-navigation v-model="value" v-if="displayDesktop">
                        <v-btn href="#home" value="home">
                          <span>Home</span>
                          <v-icon>mdi-home</v-icon>
                        </v-btn>
        
                        <v-btn href="#mempelai">
                          <span>Couple</span>
                          <v-icon>mdi-heart</v-icon>
                        </v-btn>
        
                        <v-btn href="#event">
                          <span>Event</span>
                          <v-icon>mdi-calendar-month</v-icon>
                        </v-btn>

                        <v-btn href="#story">
                            <span>Story</span>
                            <v-icon>mdi-chat</v-icon>
                          </v-btn>
        
                        <v-btn href="#dokumentasi">
                          <span>Gallery</span>
                          <v-icon>mdi-image</v-icon>
                        </v-btn>
        
                        <v-btn href="#chat">
                          <span>Guest Book</span>
                          <v-icon>mdi-chat-processing</v-icon>
                        </v-btn>
                      </v-bottom-navigation>
                </div>
                    <v-container fluid class="bg-page1 fill-height text-center">
                        <v-row align="center" justify="center">
                            <v-img max-width="200" src="https://demo.datengdong.com/themes/two/image/just.gif"
                                v-if="!displayDesktop"></v-img>
                            <div align="center" justify="center">
                                <v-img max-width="200" src="https://demo.datengdong.com/themes/two/image/just.gif"
                                    v-if="displayDesktop"></v-img>
                                <h1 class="fontPage1 mt-8 green--text" style="font-size: 30px;">
                                    {{ dataApi.wedding.tanggal_resepsi }}</h1>
                                <p class="fontPage1" style="font-size: 50px;">{{ dataApi.wedding.nama_panggilan_pria }}
                                    & {{ dataApi.wedding.nama_panggilan_wanita }}</p>
                                <b>we are getting married</b>
                                <p class="mt-16 font-italic font-weight-light">Kepada Yth</p>
                                <p class="font-italic font-weight-light">Bapak/Ibu/Saudara/i</p>
                                <p class="headline green--text">Prof. Supardi MM</p>
                                <p class="font-italic font-weight-light">di Yogyakarta</p>
                            </div>
                        </v-row>
                    </v-container>
                    <v-container fluid style="margin-bottom: 10vh;">
                        <div class="text-center">
                            <h1 class="fontPage1" style="font-size: 45px;">{{ dataApi.wedding.h_more_info }}</h1>
                            <p class="text-decoration-underline mt-6 font-weight-bold">Protokol Covid 19</p>
                            <p class="font-weight-light text-caption">Dalam upaya mengurangi penyebaran Covid 19 pada
                                masa
                                pandemi, kami harapkan kedatangan para tamu undangan agar menjalankan protokol yang
                                berlaku.</p>
                            <p class="font-weight-light text-center">"Tidak ada solusi yang lebih baik bagi dua insan
                                yang saling
                                mencintai di banding pernikahan."</p>
                            <p class="fontPage1 green--text" style="font-size: 30px;">HR. Ibnu Majah</p>

                            <!-- Batas 2 -->
                            <h1 class="fontPage1 mt-16" style="font-size: 50px;">Groom & Bride</h1>
                            <p class="font-italic">Assalamu’alaikum Warahmatullahi
                                Wabarakatuh</p>
                            <p :class="[displayDesktop ? 'mx-16' : 'mx-8']">Maha suci Allah SWT yang telah menciptakan
                                makhluk-Nya
                                berpasang-pasangan. Ya Allah, perkenankanlah kami merangkai kasih sayang yang Kau
                                ciptakan di antara putra-putri kami: </p>

                            <div v-if="displayDesktop">
                                <v-row>
                                    <v-col>
                                        <div class="d-flex justify-center mt-16">
                                            <v-img max-width="300" max-height="300" class="rounded-circle"
                                                :src="'https://merestui.com/'+ dataApi.wedding.foto_pria"></v-img>
                                        </div>
                                        <h1 class="fontPage1 font-weight-light" style="font-size: 30px;">
                                            {{ dataApi.wedding.nama_lengkap_pria }}</h1>
                                        <p class="green--text font-weight-bold">{{ dataApi.wedding.profil_pria }}</p>
                                        <p> Jl. Majapahit, No 43, Sleman, Yogyakarta</p>
                                        <v-btn small dark>
                                            <v-icon>mdi-instagram</v-icon>
                                        </v-btn>
                                        <v-btn small dark>
                                            <v-icon>mdi-twitter</v-icon>
                                        </v-btn>
                                    </v-col>
                                    <v-col>
                                        <div class="d-flex justify-center mt-16">
                                            <v-img max-width="300" max-height="300" class="rounded-circle"
                                                :src="'https://merestui.com/'+ dataApi.wedding.foto_wanita"></v-img>
                                        </div>
                                        <h1 class="fontPage1 font-weight-light" style="font-size: 30px;">
                                            {{ dataApi.wedding.nama_lengkap_wanita }}</h1>
                                        <p class="green--text font-weight-bold">{{ dataApi.wedding.profil_wanita }}</p>
                                        <p> Jl. Majapahit, No 43, Sleman, Yogyakarta</p>
                                        <v-btn small dark>
                                            <v-icon>mdi-instagram</v-icon>
                                        </v-btn>
                                        <v-btn small dark>
                                            <v-icon>mdi-twitter</v-icon>
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </div>
                            <div v-else>
                                <div class="d-flex justify-center mt-16">
                                    <v-img max-width="300" max-height="300" class="rounded-circle"
                                        :src="'https://merestui.com/'+ dataApi.wedding.foto_pria"></v-img>
                                </div>
                                <h1 class="fontPage1 font-weight-light" style="font-size: 30px;">
                                    {{ dataApi.wedding.nama_lengkap_pria }}</h1>
                                <p class="green--text font-weight-bold">{{ dataApi.wedding.profil_pria }}</p>
                                <p> Jl. Majapahit, No 43, Sleman, Yogyakarta</p>
                                <v-btn small dark>
                                    <v-icon>mdi-instagram</v-icon>
                                </v-btn>
                                <v-btn small dark>
                                    <v-icon>mdi-twitter</v-icon>
                                </v-btn>

                                <div class="d-flex justify-center mt-16">
                                    <v-img max-width="300" max-height="300" class="rounded-circle"
                                        :src="'https://merestui.com/'+ dataApi.wedding.foto_wanita"></v-img>
                                </div>
                                <h1 class="fontPage1 font-weight-light" style="font-size: 30px;">
                                    {{ dataApi.wedding.nama_lengkap_wanita }}</h1>
                                <p class="green--text font-weight-bold">{{ dataApi.wedding.profil_wanita }}</p>
                                <p> Jl. Majapahit, No 43, Sleman, Yogyakarta</p>
                                <v-btn small dark>
                                    <v-icon>mdi-instagram</v-icon>
                                </v-btn>
                                <v-btn small dark>
                                    <v-icon>mdi-twitter</v-icon>
                                </v-btn>
                            </div>

                            <!-- Batas 3 -->
                            <h1 class="fontPage1 font-weight-light mt-16" style="font-size: 30px;">
                                {{ dataApi.wedding.judul_akad }}</h1>
                            <p class="green--text font-weight-bold">{{ dataApi.wedding.tanggal_akad }}</p>
                            <p> Pukul {{ dataApi.wedding.waktu_akad }}</p>
                            <p class="font-weight-bold">{{ dataApi.wedding.lokasi_akad.split('(')[0] }}</p>
                            <p>Jl. Prof. DR. Drs Notonagoro, Karang Malang, Caturtunggal, Kec. Depok, Kabupaten Sleman,
                                Yogyakarta</p>

                            <div v-if="displayDesktop">
                                <v-row>
                                    <v-col>
                                        <h1 class="fontPage1 font-weight-light mt-16" style="font-size: 30px;">
                                            {{ dataApi.wedding.judul_resepsi }}</h1>
                                        <p class="green--text font-weight-bold">{{ dataApi.wedding.tanggal_akad }}</p>
                                        <p> Pukul {{ dataApi.wedding.waktu_resepsi }}</p>
                                        <p class="font-weight-bold">{{ dataApi.wedding.lokasi_resepsi.split('(')[0] }}
                                        </p>
                                        <p>Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Bantul, Yogyakarta
                                        </p>
                                    </v-col>
                                    <v-col>
                                        <h1 class="fontPage1 font-weight-light mt-16" style="font-size: 30px;">{{ dataApi.wedding.h_live_streaming }}</h1>
                                        <p class="text-center mx-6 subtitle font-weight-light">
                                                   Mengingat pandemi covid-19, kami tidak dapat mengundang seluruh sahabat tercinta kami secara langsung, karena penting bagi kami untuk menjaga semuanya agar tetap aman, jadi selain acara secara langsung, kami juga berencana untuk mempublikasikan pernikahan kami secara virtual melalui zoom dan live instagram yang bisa kamu ikuti melalui link berikut</p>
                                                    <div class="d-flex justify-center">
                                                    <v-btn depressed outlined rounded >
                                                    <v-icon left>mdi-instagram</v-icon>Instagram
                                                </v-btn>
                                                <v-btn depressed outlined rounded >
                                                    <v-icon left>mdi-youtube</v-icon>Youtube
                                                </v-btn></div>
                                    </v-col>
                                </v-row>
                            </div>
                            <div v-else>
                                <h1 class="fontPage1 font-weight-light mt-16" style="font-size: 30px;">
                                    {{ dataApi.wedding.judul_resepsi }}</h1>
                                <p class="green--text font-weight-bold">{{ dataApi.wedding.tanggal_akad }}</p>
                                <p> Pukul {{ dataApi.wedding.waktu_resepsi }}</p>
                                <p class="font-weight-bold">{{ dataApi.wedding.lokasi_resepsi.split('(')[0] }}</p>
                                <p>Jl. Wonocatur, Wonocatur, Banguntapan, Kec. Banguntapan, Bantul, Yogyakarta</p>

                                <h1 class="fontPage1 font-weight-light mt-16" style="font-size: 30px;">{{ dataApi.wedding.h_live_streaming }}</h1>
                                        <p class="text-center mx-6 subtitle font-weight-light">
                                                   Mengingat pandemi covid-19, kami tidak dapat mengundang seluruh sahabat tercinta kami secara langsung, karena penting bagi kami untuk menjaga semuanya agar tetap aman, jadi selain acara secara langsung, kami juga berencana untuk mempublikasikan pernikahan kami secara virtual melalui zoom dan live instagram yang bisa kamu ikuti melalui link berikut</p>
                                                    <div class="d-flex justify-center">
                                                    <v-btn depressed outlined rounded >
                                                    <v-icon left>mdi-instagram</v-icon>Instagram
                                                </v-btn>
                                                <v-btn depressed outlined rounded >
                                                    <v-icon left>mdi-youtube</v-icon>Youtube
                                                </v-btn></div>
                            </div>

                            <p class="text-h5 mt-16">Add to</p>
                            <div class="d-flex justify-center">
                                <v-btn color="green" class="mr-1" dark>Google Calendar</v-btn>
                                <v-btn color="green" dark>Yahoo Calendar</v-btn>
                            </div>

                            <h1 class="fontPage1 mt-16" style="font-size: 50px;">Our Gallery</h1>
                            <div v-if="displayDesktop">
                                <v-row justify="center" align="center" class="mx-16">
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_1">
                                        </v-img>
                                    </v-col>
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_2">
                                        </v-img>
                                    </v-col>
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_3">
                                        </v-img>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="mx-16">
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_4">
                                        </v-img>
                                    </v-col>
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_5">
                                        </v-img>
                                    </v-col>
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_6">
                                        </v-img>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="mx-16">
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_7">
                                        </v-img>
                                    </v-col>
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_8">
                                        </v-img>
                                    </v-col>
                                    <v-col>
                                        <v-img max-width="400" max-height="400"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_9">
                                        </v-img>
                                    </v-col>
                                </v-row>
                            </div>
                            <div v-else>
                                <v-row>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_1">
                                        </v-img>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_2">
                                        </v-img>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_1">
                                        </v-img>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_2">
                                        </v-img>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_1">
                                        </v-img>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_2">
                                        </v-img>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_1">
                                        </v-img>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-img max-height="200"
                                            :src="'https://merestui.com/'+ dataApi.wedding.gallery_2">
                                        </v-img>
                                    </v-col>
                                </v-row>
                            </div>

                            <div v-if="displayDesktop" class="d-flex justify-center">
                                <iframe class="mt-16" width="1000" height="500"
                                    src="https://www.youtube.com/embed/hG_yZXiR45k" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <iframe class="mt-16" width="382" height="240"
                                src="https://www.youtube.com/embed/hG_yZXiR45k" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen v-else></iframe>

                            <h1 class="fontPage1 my-16" style="font-size: 50px;">Our Love Story</h1>
                            <div class="" style="margin: 0 50vh;" v-if="displayDesktop">
                                <div class="text-start" v-for="(story, i) in dataApi.stories" :key="i">
                                    <p class="text-h5">{{ story.judul }}</p>
                                    <p class="text-caption green--text">{{ story.tanggal }}</p>
                                    <v-img max-width="400" max-height="400" :src="story.photo">
                                    </v-img>
                                    <p>{{ story.cerita }}</p>
                                </div>
                            </div>
                            <div class="text-start" v-for="(story, i) in dataApi.stories" :key="i" v-else>
                                <p class="text-h5">{{ story.judul }}</p>
                                <p class="text-caption green--text">{{ story.tanggal }}</p>
                                <v-img max-width="400" max-height="400" :src="story.photo">
                                </v-img>
                                <p>{{ story.cerita }}</p>
                            </div>
                            <h1 class="fontPage1 my-16" style="font-size: 50px;">Go To Our Wedding</h1>
                            <v-row justify="center" class="title" align="center" v-if="displayDesktop">
                                <v-col cols="2">
                                    <p class="font-weight-bold">{{ displayDays }}</p>
                                    <p class="font-weight-light">Days</p>
                                </v-col>
                                <v-col cols="2">
                                    <p class="font-weight-bold">{{ displayHours }}</p>
                                    <p class="font-weight-light">Hours</p>
                                </v-col>
                                <v-col cols="2">
                                    <p class="font-weight-bold">{{ displayMinutes }}</p>
                                    <p class="font-weight-light">Minutes</p>
                                </v-col>
                                <v-col cols="2">
                                    <p class="font-weight-bold">{{ displaySeconds }}</p>
                                    <p class="font-weight-light">Seconds</p>
                                </v-col>
                            </v-row>
                            <div v-else>
                                <v-row justify="center" align="center" class="headline">
                                    <v-col>
                                        <p class="font-weight-bold">{{ displayDays }}</p>
                                        <p>Days</p>
                                    </v-col>
                                    <v-col>
                                        <p class="font-weight-bold">{{ displayHours }}</p>
                                        <p>Hours</p>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="headline">
                                    <v-col>
                                        <p class="font-weight-bold">{{ displayMinutes }}</p>
                                        <p>Minutes</p>
                                    </v-col>
                                    <v-col>
                                        <p class="font-weight-bold">{{ displaySeconds }}</p>
                                        <p>Seconds</p>
                                    </v-col>
                                </v-row>
                            </div>
                            <h1 class="fontPage1 my-16" style="font-size: 50px;">Map Location</h1>

                            <div v-if="displayDesktop">
                                <v-row align="center" justify="center">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.9092508126523!2d110.40229931535062!3d-7.799432179581609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a575dd9a1912b%3A0xfe00120aebe7a884!2sGraha%20Pradipta%20Jogja%20Expo%20Center!5e0!3m2!1sen!2sid!4v1655284618974!5m2!1sen!2sid"
                                        width="50%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </v-row>
                            </div>

                            <iframe v-else
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.9092508126523!2d110.40229931535062!3d-7.799432179581609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a575dd9a1912b%3A0xfe00120aebe7a884!2sGraha%20Pradipta%20Jogja%20Expo%20Center!5e0!3m2!1sen!2sid!4v1655284618974!5m2!1sen!2sid"
                                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>


                            <v-btn color="green" class="mt-5" @click="openUrl(dataApi.wedding.short_url)" dark>Open
                                Google Map</v-btn>

                                 <p class="cardTitleFont font-weight-bold text-center mt-16">{{ dataApi.wedding.h_qr }}</p>
              <div align="center" justify="center">
                <v-img src="https://cdn-icons-png.flaticon.com/512/241/241528.png" max-width="200"></v-img>
              <v-btn class="my-16" depressed outlined rounded class="lokasi-btn">Reservasi Tamu</v-btn>
              </div>
                            <h1 class="fontPage1 my-16" id="guestBook" style="font-size: 50px;">Guest Book</h1>

                            <div justify="center" align="center" v-if="displayDesktop">
                                <v-card width="700" color="green" class="mt-10">
                                    <v-card-text>
                                        <v-text-field v-model="form.nama" label="Nama" solo></v-text-field>
                                        <v-row>
                                            <v-col>
                                                <v-text-field v-model="form.write_as" label="Ditulis Oleh" solo>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field v-model="form.sosmed" label="Nama Sosmed" solo>
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-textarea rows="3" v-model="form.ucapan" label="Pesan/Doa" solo></v-textarea>
                                        </v-card-title>
                                        <v-card-title class="justify-center">
                                            <v-btn color="blue-grey" @click="kirimUcapan" dark>Kirim </v-btn>
                                        </v-card-title>
                                </v-card>
                                <v-card width="600" class="mt-10"
                                    style="border: 2px solid green; background-color: transparent;">

                                    <v-card-title class="text-start">
                                        <div class="overflowAuto">
                                            <div v-for="(i, idx) in dataApi.comments" :key="idx">
                                                <p class="title mx-4">{{ i.owner }} <span
                                                        class="pl-2 text-caption text--disabled">{{ i.date_only }}</span>
                                                </p>
                                                <p class="text-caption mx-4 mt-n5 text--disabled">Ditulis oleh
                                                    {{ i.write_as }}, ({{ i.sosmed }})</p>
                                                <p class="text-caption mx-4">{{ i.content }}</p>
                                                <v-divider></v-divider>
                                            </div>
                                        </div>
                                    </v-card-title>
                                    <v-card-title>
                                    </v-card-title>
                                </v-card>
                            </div>
                            <div v-else>
                                <v-card color="green" class="mt-10">
                                    <v-card-title>
                                        <v-text-field v-model="form.nama" label="Nama" solo></v-text-field>
                                        <v-row>
                                            <v-col>
                                                <v-text-field v-model="form.write_as" label="Ditulis Oleh" solo>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field v-model="form.sosmed" label="Nama Sosmed" solo>
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-textarea rows="3" v-model="form.ucapan" label="Pesan/Doa" solo></v-textarea>
                                    </v-card-title>
                                    <v-card-title class="justify-center">
                                        <v-btn color="blue-grey" @click="kirimUcapan" dark>Kirim </v-btn>
                                    </v-card-title>
                                </v-card>
                                <v-card class="mt-10" style="border: 2px solid green; background-color: transparent;">
                                    <v-card-title class="text-start">
                                        <div class="overflowAuto">
                                            <div v-for="(i, idx) in dataApi.comments" :key="idx">
                                                <p class="title mx-4">{{ i.owner }} <span
                                                        class="pl-2 text-caption text--disabled">{{ i.date_only }}</span>
                                                </p>
                                                <p class="text-caption mx-4 mt-n5 text--disabled">Ditulis oleh
                                                    {{ i.write_as }}, ({{ i.sosmed }})</p>
                                                <p class="text-caption mx-4">{{ i.content }}</p>
                                                <v-divider></v-divider>
                                            </div>
                                        </div>
                                    </v-card-title>
                                </v-card>
                            </div>
                        </div>
                    </v-container>
                </div>
                                    <v-container fluid class="bg-page1 fill-height text-center" v-else>
                        <v-row align="center" justify="center">
                            <v-img max-width="200" src="https://demo.datengdong.com/themes/two/image/just.gif"
                                v-if="!displayDesktop"></v-img>
                            <div align="center" justify="center">
                                <v-img max-width="200" src="https://demo.datengdong.com/themes/two/image/just.gif"
                                    v-if="displayDesktop"></v-img>
                                <h1 class="fontPage1 mt-8 green--text" style="font-size: 30px;">
                                    {{ dataApi.wedding.tanggal_resepsi }}</h1>
                                <p class="fontPage1" style="font-size: 50px;">{{ dataApi.wedding.nama_panggilan_pria }}
                                    & {{ dataApi.wedding.nama_panggilan_wanita }}</p>
                                <b>we are getting married</b>
                                <div class="d-flex justify-center mt-5">
                                <v-btn depressed outlined rounded class="mt-10" @click="scrollPlay">Open Invitation</v-btn>
                                </div>
                                
                            </div>
                        </v-row>
                    </v-container>
                    <audio id="song" ref="audioElm">
            <source :src="'https://merestui.com'+dataApi.music.music_path"
              type="audio/mp3">
          </audio>
                </div>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
        integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/jquery.js"></script>
</body>

</html>