@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.bg-page1{
    background-color: #eee;
    height: 100vh;
}


.fontPage1{
    font-family: 'Yellowtail', cursive;
}

.overflowAuto {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    width: 100%;
}