@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .overflowAuto {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 20vh;
    width: 100%;
  }

  .bg-page1{
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* animation: 1s ease-out 0s 1 slideInFromTop; */
  }

  .bg-page2{
    background-image: url('https://cdn.undanganweb.com/hi/2022/03/IMG_5871.png');
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-page3{
    background-color: #9b9893;
    height: 255vh;
    margin-top: -20vh;
    border-radius: 90%/100px 100px 0 0;
  }

  .bg-page4{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-page5{
    height: 210vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
.bg-page6{
  background-image: url('https://cdn.undanganweb.com/hi/2022/03/IMG_5871.png');
  height: 190vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-page7{
  background-color: rgba(91,87,78,0.61) !important;
height: 263vh;
}

.bg-page11{
  background-color: #72706a;
  height: 60vh;
}

  

  .pasangan{
    font-family: 'Island Moments', cursive;
    font-size: 50px;
  }

  .mempelai{
    font-family: 'Island Moments', cursive;
    font-size: 40px;
  }

  .mempelai2{
    font-family: 'Island Moments', cursive;
    font-size: 30px;
  }

  .menuju{
    font-family: 'Island Moments', cursive;
    font-size: 28px;
  }
  
}

/* Desktop  720p*/
@media screen and (min-width: 1280px){
  .overflowAuto {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 20vh;
    width: 100%;
  }
  
  .bg-page1{
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* animation: 1s ease-out 0s 1 slideInFromTop; */
  }

  .bg-page2{
    background-image: url('https://cdn.undanganweb.com/hi/2022/03/IMG_5871.png');
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-page3{
    background-color: #9b9893;
    height: 150vh;
    margin-top: -20vh;
    border-radius: 90%/100px 100px 0 0;
  }

  .bg-page4{
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-page5{
    height: 200vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
.bg-page6{
  background-image: url('https://cdn.undanganweb.com/hi/2022/03/IMG_5871.png');
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-page7{
  background-color: rgba(91,87,78,0.61) !important;
height: 300vh;
}

.bg-page11{
  background-color: #72706a;
  height: 80vh;
}


  .pasangan{
    font-family: 'Island Moments', cursive;
    font-size: 80px;
  }

  .mempelai{
  font-family: 'Island Moments', cursive;
  font-size: 80px;
}

.mempelai2{
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}

.menuju{
  font-family: 'Island Moments', cursive;
  font-size: 40px;
}
  
}

/* Desktop  HD*/
@media screen and (min-width: 1440px){
  .overflowAuto {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 20vh;
    width: 100%;
  }
  
  .bg-page1{
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* animation: 1s ease-out 0s 1 slideInFromTop; */
  }

  .bg-page2{
    background-image: url('https://cdn.undanganweb.com/hi/2022/03/IMG_5871.png');
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-page3{
    background-color: #9b9893;
    height: 110vh;
    margin-top: -20vh;
    border-radius: 90%/100px 100px 0 0;
  }

  .bg-page4{
    height: 130vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-page5{
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
.bg-page6{
  background-image: url('https://cdn.undanganweb.com/hi/2022/03/IMG_5871.png');
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-page7{
  background-color: rgba(91,87,78,0.61) !important;
height: 215vh;
}

.bg-page11{
  background-color: #72706a;
  height: 50vh;
}


  .pasangan{
    font-family: 'Island Moments', cursive;
    font-size: 80px;
  }

  .mempelai{
  font-family: 'Island Moments', cursive;
  font-size: 80px;
}

.mempelai2{
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}

.menuju{
  font-family: 'Island Moments', cursive;
  font-size: 40px;
}
  
}
  

.image1{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    
}


.bg-page-cover{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* animation: 1s ease-out 0s 1 slideInFromTop; */
}



.bg-page9{
  height: 100vh;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-page10{
  /* background-color: #72706a; */
  background: linear-gradient(to bottom, rgba(255,0,0,0),  #72706a);
  height: 100vh;
  margin-top: -100vh;
}


.text-indent{
  word-spacing: 5px;
}



.mempelai3{
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}




.cardTitleFont{
  font-family: 'Joan', serif;
}

.footerTitleFont{
  font-family: 'Joan', serif;
  font-size: 30px;
}


.companyNameFont{
  font-family: 'Island Moments', cursive;
  font-size: 28px;
}